## Importation of important libraries

In [31]:
RD_STATE=42
Z_ALPHA = 0.5

import kagglehub
import pandas as pd

import warnings 
warnings.filterwarnings("ignore")

## Get the datasets from kaggle

> By doing so, you can get the datasets only with the code

In [32]:
# Download latest version
sch_path = kagglehub.dataset_download("uom190346a/global-coffee-health-dataset")
starbk_path = kagglehub.dataset_download("henryshan/starbucks")

print("Path to dataset files:", sch_path)
print("Path to dataset files:", starbk_path)

Path to dataset files: C:\Users\ladei\.cache\kagglehub\datasets\uom190346a\global-coffee-health-dataset\versions\1
Path to dataset files: C:\Users\ladei\.cache\kagglehub\datasets\henryshan\starbucks\versions\1

In [33]:
# Import dataset
sch_db = pd.read_csv(sch_path + '/synthetic_coffee_health_10000.csv')
sch_db

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

In [34]:
# Import dataset
#starbk_db = pd.read_csv(starbk_path + '/starbucks.csv')
#starbk_db

In [35]:
# check the dataset
for col in sch_db.columns:
    print(col, sch_db[col].isnull().sum(), end=" ")
    print(sch_db[col].unique())

ID 0 [    1     2     3 ...  9998  9999 10000]
Age 0 [40 33 42 53 32 44 29 41 37 18 28 22 38 24 52 35 36 21 39 27 31 57 34 20
 19 43 26 47 30 46 51 25 45 64 48 61 23 50 67 80 62 60 56 54 49 59 58 71
 55 65 66 63 73 72 68 70 69 77 75]
Gender 0 ['Male' 'Female' 'Other']
Country 0 ['Germany' 'Brazil' 'Spain' 'Mexico' 'France' 'Canada' 'UK' 'Switzerland'
 'Netherlands' 'Italy' 'China' 'Japan' 'Belgium' 'Finland' 'Australia'
 'USA' 'Sweden' 'India' 'Norway' 'South Korea']
Coffee_Intake 0 [3.5 1.  5.3 2.6 3.1 3.4 2.7 4.5 1.7 4.  4.1 4.7 1.4 3.2 4.3 0.7 2.2 0.
 2.4 4.6 0.4 1.9 0.8 2.5 1.5 2.8 4.4 3.8 2.  3.3 2.1 3.6 1.6 1.1 0.9 4.9
 0.1 5.4 1.3 0.6 1.8 2.9 4.2 2.3 3.9 1.2 7.6 0.2 7.1 5.2 0.5 3.7 5.  6.2
 3.  4.8 5.1 7.3 5.8 5.9 6.1 5.5 5.7 6.4 0.3 5.6 6.7 6.  6.5 6.3 8.2 7.2
 7.  6.6 7.8 6.8 7.7 6.9]
Caffeine_mg 0 [328.1  94.1 503.7 ... 460.2 509.1  59.1]
Sleep_Hours 0 [ 7.5  6.2  5.9  7.3  5.3  6.4  7.8  5.5  7.1  8.1  6.5  6.9  6.6  6.8
  7.7  5.7  5.   6.1  6.   8.3  9.2  7.9  4.8  7.4  7.   7.2  5.8  9.4
  7.6  8.   5.4  8.2  6.3  4.5  9.6  5.2  4.7  4.6  8.7  4.9  9.8  6.7
  5.6  8.8  4.2  8.5 10.   8.4  9.3  9.5  3.8  8.6  4.3  5.1  8.9  9.
  3.9  4.1  9.1  4.   9.9  3.   3.5  3.7  3.1  3.6  4.4  9.7  3.4  3.3
  3.2]
Sleep_Quality 0 ['Good' 'Fair' 'Excellent' 'Poor']
BMI 0 [24.9 20.  22.7 24.7 24.1 27.  24.3 15.8 21.7 30.4 21.5 23.1 15.4 19.8
 21.1 31.7 24.  23.3 18.8 28.2 17.  23.4 21.6 15.  20.8 27.6 18.1 27.5
 32.7 22.1 21.2 35.8 27.8 26.4 25.4 24.4 24.5 30.5 24.6 20.2 21.4 18.9
 29.  18.2 20.9 25.5 28.  23.9 23.5 17.2 25.9 25.6 16.9 26.5 29.2 22.5
 30.3 22.2 17.8 22.8 17.1 21.8 22.  17.7 28.3 19.9 33.1 15.5 17.3 23.6
 28.4 26.3 28.8 23.  25.  29.1 22.4 25.3 27.2 19.3 23.7 26.6 24.2 19.4
 20.4 31.5 25.8 22.3 20.3 29.5 20.5 29.9 33.8 27.3 22.6 19.1 18.3 24.8
 20.1 26.  27.7 28.1 31.4 30.2 31.1 21.3 16.7 17.4 25.1 31.2 35.7 25.2
 19.6 23.8 16.1 31.3 29.4 33.3 32.3 18.6 18.  18.5 30.  30.8 18.7 26.8
 23.2 26.7 25.7 34.  30.1 17.6 22.9 21.9 29.3 20.7 26.2 28.5 27.4 16.2
 15.1 32.2 26.9 30.9 21.  19.2 33.9 27.9 32.5 30.7 29.6 19.5 18.4 35.5
 28.6 19.  26.1 28.7 20.6 29.7 17.9 31.9 31.8 15.7 29.8 27.1 28.9 30.6
 17.5 16.4 19.7 16.5 33.4 34.4 31.6 33.2 16.6 33.6 32.6 32.4 34.8 34.1
 34.9 16.8 16.3 15.3 36.7 35.  32.1 15.6 32.8 32.  15.9 33.  32.9 16.
 36.3 31.  35.3 37.5 34.5 33.5 34.6 36.8 15.2 33.7 35.1 34.3 37.8 38.2
 36.  36.9 37.  36.5 36.6 37.2 37.9 36.4 34.7 34.2]
Heart_Rate 0 [ 78  67  59  71  76  82  58  62  60  69  66  80  77  83  56  70  72  63
  74  65  79  85  50  86  68  73  90  75  64  89 100  57  92  61  52  88
  84  55  87  81  91  96  93  95  53  51  54  94  98 106  97 109  99 102
 107 101 103 104]
Stress_Level 0 ['Low' 'Medium' 'High']
Physical_Activity_Hours 0 [14.5 11.  11.2  6.6  8.5  8.8  1.   0.7  2.2 11.9  8.4  8.9  5.2 13.
  3.2  4.7  4.9 14.4  7.8  5.5 13.5  2.9  6.9  3.4  8.2  2.  12.5  1.8
  2.6  4.1 12.2  3.1  3.3  9.8 12.4 10.5  8.1  5.4 10.4 10.3  9.5  3.5
 13.9 14.9  8.3  4.8 11.1  9.1  1.5 12.6 12.3 11.6  0.  11.5 11.3  7.9
  1.3  9.   0.4  4.4  2.3  7.6  5.8  4.6  8.6  9.2  1.7  7.5 13.1 13.2
 14.   9.7  3.6  3.8  2.5 10.9  6.7  7.   8.   1.9  0.5 13.4 12.7  8.7
  9.4 10.6  9.6 14.8  3.7  9.9  1.6  0.1  7.7 11.8  4.3  7.3 12.8 15.
  0.6 14.7  6.5  3.9 11.7  4.2 12.1  1.1  5.7 12.9  6.2 13.3  4.   7.2
  6.3 11.4 10.   2.7  0.2 10.7  7.1  0.3  5.1  5.9  6.8  6.   1.2 14.1
  2.1  6.4  1.4  2.8 13.8  9.3 13.6  0.8  3.  10.1 13.7  5.   2.4 10.8
  0.9  4.5 14.3  5.3 14.2 10.2  5.6 14.6 12.   7.4  6.1]
Health_Issues 5941 [nan 'Mild' 'Moderate' 'Severe']
Occupation 0 ['Other' 'Service' 'Office' 'Student' 'Healthcare']
Smoking 0 [0 1]
Alcohol_Consumption 0 [0 1]

In [36]:
# Check dataset
sch_db.dtypes

ID                           int64
Age                          int64
Gender                      object
Country                     object
Coffee_Intake              float64
Caffeine_mg                float64
Sleep_Hours                float64
Sleep_Quality               object
BMI                        float64
Heart_Rate                   int64
Stress_Level                object
Physical_Activity_Hours    float64
Health_Issues               object
Occupation                  object
Smoking                      int64
Alcohol_Consumption          int64
dtype: object

## **Data Cleaning**
* Goal: Fix or remove incorrect, corrupted, or incomplete data.
* Typical Tasks:
    * Handling missing values (e.g., imputation or deletion)
        * Done (removed NaN in Health Issues column)
    * Removing duplicates and irrelevant variables
        * Done (removed ID column)
    * Fixing data entry errors (e.g., inconsistent capitalization or typos)
        * Done (none)
    * Correcting inconsistencies (e.g., "USA" vs. "United States") and incomplete values
        * Done (none)
    * Handling outliers (depending on the use case)
        * TODO

#### 1. Handling missing values

In [37]:
# Check whether there is missing values or not
sch_db.isnull().sum()

ID                            0
Age                           0
Gender                        0
Country                       0
Coffee_Intake                 0
Caffeine_mg                   0
Sleep_Hours                   0
Sleep_Quality                 0
BMI                           0
Heart_Rate                    0
Stress_Level                  0
Physical_Activity_Hours       0
Health_Issues              5941
Occupation                    0
Smoking                       0
Alcohol_Consumption           0
dtype: int64

In [38]:
# There are missing values in 'Health Issues'
# Let's assume rows without data in 'Health Issues' represent a person with good health
sch_db['Health_Issues'].fillna('No', inplace=True)
print(sch_db['Health_Issues'].unique())

#####################################
## Il  faut voir où mettre ce truc ##
#####################################
sch_db = sch_db[sch_db['Gender'] != 'Other']

['No' 'Mild' 'Moderate' 'Severe']

#### 2. Removing duplicates and irrelevant variables

In [39]:
# Here, the 'ID' column is irrelevant for the ML algorithm, so we can just drop it
try:
    sch_db = sch_db.drop(["ID"], axis=1)
except KeyError:
    print("Var was already killed")

sch_db

,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,No,Other,0,0
1,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,No,Service,0,0
2,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,No,Student,1,1
9998,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,No,Student,0,0
9999,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,No,Student,1,0

#### 3. Fixing data entry errors
#### 4. Inconsistencies
#### 5. Handling outliers

In [40]:
# Let's check whether there are data entry errors, inconsistencies or outliers in the DB
for col in sch_db.columns:
    print(sch_db[col].value_counts())

# It seems there are no mistypes values, no inconsistencies and not outliers

Age
18    913
34    346
32    345
37    339
35    333
38    314
31    305
36    302
40    300
30    300
39    295
29    289
33    288
27    286
28    278
43    272
42    270
41    267
25    249
24    221
23    219
26    218
44    214
45    208
46    205
47    191
22    191
49    170
21    166
48    162
20    149
50    134
19    131
51    129
52    110
54     99
53     93
55     84
56     58
57     57
59     52
58     40
60     37
61     25
62     23
63     17
65     14
66     13
64     12
70      8
67      8
68      8
72      7
80      2
71      2
73      2
69      2
77      1
75      1
Name: count, dtype: int64
Gender
Female    5001
Male      4773
Name: count, dtype: int64
Country
Canada         536
Norway         515
India          512
China          510
Sweden         505
UK             504
Finland        500
Italy          499
South Korea    497
Belgium        488
Germany        488
France         487
Australia      486
Switzerland    485
Netherlands    484
Spain          472
Mexico         470
Japan          456
Brazil         441
USA            439
Name: count, dtype: int64
Coffee_Intake
0.0    543
2.7    296
2.1    267
2.8    262
2.6    261
      ...
7.7      2
7.8      2
7.1      1
8.2      1
7.2      1
Name: count, Length: 78, dtype: int64
Caffeine_mg
0.0      514
132.1      9
148.1      9
259.3      9
277.9      9
        ...
130.8      1
306.7      1
199.5      1
328.9      1
494.0      1
Name: count, Length: 4239, dtype: int64
Sleep_Hours
6.7    331
6.9    323
7.1    316
6.6    312
6.5    309
      ...
9.9      7
3.4      7
3.1      6
3.2      6
9.7      5
Name: count, Length: 71, dtype: int64
Sleep_Quality
Good         5502
Fair         2006
Excellent    1326
Poor          940
Name: count, dtype: int64
BMI
15.0    118
25.5    117
23.2    113
24.7    110
24.0    110
       ...
37.0      1
36.6      1
36.5      1
37.9      1
34.7      1
Name: count, Length: 219, dtype: int64
Heart_Rate
70     424
71     401
73     382
72     378
69     377
67     375
74     371
66     352
75     351
68     346
64     329
77     328
65     324
76     318
78     309
63     273
81     257
62     254
80     253
79     241
61     236
59     223
60     213
50     208
82     203
83     191
58     183
56     160
57     152
84     135
86     130
85     126
55     116
87     103
54      96
52      83
88      83
89      74
53      71
90      66
51      62
91      51
92      41
93      31
94      23
95      15
97      14
98      11
96       9
99       7
100      5
106      2
101      2
102      2
107      1
109      1
103      1
104      1
Name: count, dtype: int64
Stress_Level
Low       6828
Medium    2006
High       940
Name: count, dtype: int64
Physical_Activity_Hours
8.4     91
3.7     87
9.5     80
10.9    80
14.6    80
        ..
1.8     51
14.2    50
13.6    49
15.0    36
0.0     26
Name: count, Length: 151, dtype: int64
Health_Issues
No          5808
Mild        3491
Moderate     458
Severe        17
Name: count, dtype: int64
Occupation
Office        2023
Other         1992
Student       1935
Healthcare    1920
Service       1904
Name: count, dtype: int64
Smoking
0    7810
1    1964
Name: count, dtype: int64
Alcohol_Consumption
0    6839
1    2935
Name: count, dtype: int64

## **Data Preprocessing**

* Goal: Prepare raw data for modelling or analysis.
* Includes data cleaning, plus additional transformations, such as:
    * Encoding categorical variables (e.g., one-hot encoding)
    * Feature scaling (e.g., normalization, standardization)
    * Feature selection/extraction
    * Data transformation (e.g., log transformations, binning)
    * Handling imbalanced datasets

In [41]:
# Erease z_alpha case

In [42]:
# Check class balance
sch_db['Health_Issues'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

Health_Issues
No          59.42%
Mild        35.72%
Moderate     4.69%
Severe       0.17%
Name: proportion, dtype: object

In [43]:
# Fetch dataset for testing around 10%
test_db = sch_db.sample(frac=0.1, random_state=RD_STATE) 
test_db.to_csv("./test_data.csv")
test_db

,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
4328,55,Female,Netherlands,0.6,58.4,5.9,Fair,22.4,60,Medium,9.1,Moderate,Other,1,0
2911,39,Female,Australia,2.2,212.0,7.0,Good,25.1,86,Low,2.9,No,Healthcare,0,1
8236,45,Female,Netherlands,1.0,98.6,5.6,Fair,33.2,69,Medium,11.5,Moderate,Office,0,0
2413,23,Male,Australia,2.5,240.3,7.0,Good,21.5,72,Low,10.8,No,Office,0,1
9037,51,Female,South Korea,1.5,144.9,7.2,Good,23.0,75,Low,8.3,Mild,Office,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8108,48,Male,Japan,0.0,0.0,7.2,Good,28.0,90,Low,0.4,No,Healthcare,0,1
1087,37,Female,Sweden,2.3,220.9,7.6,Good,24.4,98,Low,6.2,No,Office,1,0
8800,25,Female,France,3.8,360.7,7.7,Good,20.6,96,Low,1.8,No,Student,0,1
3600,25,Female,Netherlands,3.2,302.9,5.5,Fair,19.5,66,Medium,9.2,Mild,Office,1,0
8368,54,Female,Canada,3.6,344.0,6.0,Good,24.8,50,Low,1.8,Mild,Office,1,0

In [44]:
# Delete the records in the main db
try:
    sch_db = sch_db.drop(test_db.index)
except KeyError:
    print("Rows already delted")
sch_db.to_csv("./training_data.csv")
sch_db

,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
1,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,No,Service,0,0
2,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
4,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
5,32,Male,Mexico,3.4,326.4,6.4,Good,27.0,82,Low,8.8,No,Service,0,0
6,53,Male,France,2.7,252.1,7.8,Good,24.3,58,Low,1.0,Mild,Student,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,49,Female,Germany,1.6,150.1,5.7,Fair,25.5,81,Medium,12.9,Mild,Student,0,1
9995,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,No,Student,1,1
9998,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,No,Student,0,0